<div class="{{containerClassName}}">
  <div class="floating-input-container">
    <input class="input {{className}}" type={{type}} name={{name}} required placeholder="placeholder">
    <span class="input__label">{{label}}</span>
  </div>
  <span id={{errorId}} class="input__error-message input__error-message_hidden">Error</span>
</div>