 <form id={{formID}} class='form {{formClassName}}' novalidate>
   <div class='form__container'>
     <h3 class='form__title'>{{title}}</h3>
    {{#each inputs}}
      {{ input
          type=type
          name=name
          label=label
          errorId=errors.fieldId
          isFormInput=true
      }}
    {{/each}}
   </div>

    <div class='form__container'>
      {{ button title=submitBtn.title className='form__submit-btn' type='submit' }}
      {{#if formLink }}
        {{ link url=formLink.url title=formLink.title size="small"}}
      {{/if}}
    </div>
 </form>