<form id="signup" class="signup-form" novalidate>
  <div class="signup-form_container">
    <h3 class="signup-form_title">Регистрация</h3>
    {{ input 
        className="signup-form_input" 
        id="signup-form_email-input"
        type="email" 
        name="email" 
        label="Почта"
        errorId="signup-form_email-error" 
    }}
    {{ input 
        id="signup-form_login-input"
        className="signup-form_input" 
        type="text" 
        name="login" 
        label="Логин"
        errorId="signup-form_login-error" 
    }}
    {{ input 
        id="signup-form_first-name-input"
        className="signup-form_input" 
        type="text" 
        name="first-name" 
        label="Имя"
        errorId="signup-form_first-name-error"
    }}
    {{ input 
        id="signup-form_second-name-input"
        className="signup-form_input" 
        type="text" 
        name="second-name" 
        label="Фамилия"
        errorId="signup-form_second-name-error" 
    }}
    {{ input 
        id="signup-form_phone-input"
        className="signup-form_input" 
        type="tel" 
        name="phone" 
        label="Телефон"
        errorId="signup-form_phone-error"
    }}
    {{ input 
        id="signup-form_password-input"
        className="signup-form_input" 
        type="password" 
        name="password" 
        label="Пароль"
        errorId="signup-form_password-error"
    }}
    {{ input 
        id="signup-form_repeat-password-input"
        className="signup-form_input" 
        type="password" 
        name="repeat-password" 
        label="Пароль еще раз"
        errorId="signup-form_repeat-password-error" 
    }}
  </div>
  <div class="login-form_container">
    {{ button title="Зарегистрироваться" className="signup-form_submit-button" type="submit" }}
    {{ link url="/login" title="Войти" }}
  </div>
</form> 